* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  background-color: bisque;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
}
.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.box {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  margin-top: 20px;
  border-radius: 10px;
}

.active {
  background-color: pink;
  font-weight: 900;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: rgb(32, 123, 243);
  border:rgb(32, 123, 243);
  text-transform: uppercase;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}


.gap{
  gap: 10px;
  padding-right: 20px;
}